<md-dialog class="dialog appoinment-dialog" data-ng-controller="dialogCtrl as actrl">
	<md-dialog-content ng-cloak>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						<div class="listview lv-bordered lv-lg ">
							<div class="lv-body lv-user">
								<div class="lv-item media side-title">
									<h2 class="lvh-label">Choose Doctor</h2>
								</div>
								<div class="c-overflow mCS-autoHide">
									<div class="lv-item media">
										<div class="pull-left">
											<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="lv-title">Doctor Name <span>position</span></div>
										</div>
									</div>
									<div class="lv-item media">
										<div class="pull-left">
											<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="lv-title">Doctor Name <span>position</span></div>
										</div>
									</div>
									<div class="lv-item media">
										<div class="pull-left">
											<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="lv-title">Doctor Name <span>position</span></div>
										</div>
									</div>
									<div class="lv-item media">
										<div class="pull-left">
											<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
										</div>
										<div class="media-body">
											<div class="lv-title">Doctor Name <span>position</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8 p-20">
						<div class="title">
							Add appointment for John Doe
						</div>
						<form>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-4">
										<div class="select">
											<select class="form-control">
												<option>MM</option>
											</select>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="select">
											<select class="form-control">
												<option>DD</option>
											</select>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="select">
											<select class="form-control">
												<option>YY</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-4">
										<div class="select">
											<select class="form-control">
												<option>12</option>
											</select>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="select">
											<select class="form-control">
												<option>30</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<div class="listview lv-bordered lv-lg">
											<div class="lv-body lv-user">
												<div class="lv-item media">
													<div class="pull-left">
														<img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
													</div>
													<div class="media-body">
														<div class="lv-title">Doctor Name <span>position</span></div>
													</div>
													<div class="close"><i class="zmdi zmdi-close zmdi-hc-fw"></i></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="fg-line">
									<textarea class="form-control" rows="10" placeholder="Let us type some lorem ipsum...."></textarea>
								</div>
							</div>
							<div class="form-group text-right">
								<button class="btn btn-default" ng-click="closeDialog()">Annuler</button>
								<button class="btn btn-primary">Add</button>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</md-dialog-content>
</md-dialog>