<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9" data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]-->
    <![if IE 9 ]><html data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]>

    <head>

            <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="q-_-qY0KsxvQj4S0_ywfXJ_v0n_cvCC2ZolIQxOAbB4" />
        
        <title>Material Admin</title>

        <!-- Vendor CSS -->
        <link href="vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">
        <link href="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
        <link href="vendors/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="vendors/bower_components/angular-material/angular-material.css">
         <link rel="stylesheet" href="vendors/bower_components/ngImgCrop/source/scss/ng-img-crop.css">
         <link rel="stylesheet" href="vendors/bower_components/angular-busy/angular-busy.css">        
         <link rel="stylesheet" href="vendors/bower_components/ngImageInputWithPreview/dist/ng-image-input-with-preview.css">
         <link data-require="intl-tel-input@*" rel="stylesheet" href="vendors/bower_components/intl-tel-input/src/css/intlTelInput.scss">
         <link rel="stylesheet" href="vendors/bower_components/intl-tel-input/src/css/flags.scss">
         
   

        <!-- CSS -->
        <link href="css/app.min.1.css" rel="stylesheet" id="app-level">
        <link href="css/app.min.2.css" rel="stylesheet">
        <link href="css/demo.css" rel="stylesheet">

        <link href='vendors/bower_components/textAngular/dist/textAngular.css'>
        

    </head>

    <body data-ng-class="{ 'sw-toggled': mactrl.layoutType === '1'}" data-ng-cloak>
    <script>
        var user = <%- JSON.stringify(user) %>
        var usertype = <%- JSON.stringify(usertype) %>
    </script>
    <script>
        (function(w,d,s,g,js,fs){
          g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
          js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
          js.src='https://apis.google.com/js/platform.js';
          fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
        </script>
        <data ui-view></data>
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->


        <!-- Core -->
        
        <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
        
        <script src="vendors/bower_components/intl-tel-input/src/js/data.js"></script>
        <script data-require="intl-tel-input@*" src="vendors/bower_components/intl-tel-input/src/js/intlTelInput.js"></script>
        <script  src="vendors/jquery/jquery.blockUI.js"></script>
       
        <!-- Angular -->
        <script src="vendors/bower_components/angular/angular.js"></script>
        <script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>


        <!-- Angular Modules -->
    
        
        <script src="vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="vendors/bower_components/angular-loading-bar/src/loading-bar.js"></script>
        <script src="vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="vendors/bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
        <script src='vendors/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
        <script src='vendors/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
        <script src='vendors/bower_components/textAngular/dist/textAngular.min.js'></script>
        <script src="vendors/bower_components/angular-material/angular-material.min.js"></script>
        <script src="vendors/bower_components/angular-aria/angular-aria.js"></script>
        <script src="vendors/bower_components/ngstorage/ngStorage.js"></script>
        <script src="vendors/bower_components/angular-uuid/angular-uuid.js"></script>
        <!-- load momentJS (required for angular-moment) -->
        <!--<script src="vendors/bower_components/angular-moment/moment.min.js"></script>-->
        <script src="vendors/bower_components/moment/min/moment-with-locales.js"></script>
        <!-- load angular-moment --> 
        <script src="vendors/bower_components/angular-moment/angular-moment.js"></script>
        <script src="vendors/bower_components/angular-busy/angular-busy.js"></script>

        <!-- Common vendors -->
        <script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="vendors/bower_components/ng-table/dist/ng-table.min.js"></script>
        
<!--        <script src="vendors/bower_components/international-phone-number/releases/international-phone-number.min.js"></script>
-->        <script src="vendors/bower_components/intl-tel-input/lib/libphonenumber/build/utils.js"></script>
       

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <!-- Using below vendors in order to avoid misloading on resolve -->
        <script src="vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="vendors/bower_components/fullcalendar/dist/lang-all.js"></script>
        <script src="vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js"></script>
        <script src="vendors/bower_components/flot/jquery.flot.pie.js"></script>
        <script src="vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <script src="vendors/bower_components/angular-nouislider/src/nouislider.min.js"></script>
        <script src="vendors/bower_components/ngImgCrop/source/js/ng-img-crop.js"></script>
        <script src="vendors/bower_components/ngImageInputWithPreview/dist/ng-image-input-with-preview.js"></script>
        <script src="vendors/bower_components/angularjs-scroll-glue/src/scrollglue.js"></script>
        <script src="vendors/bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
        <script src="vendors/bower_components/angular-utils-pagination/dirPagination.js"></script>
        <script src="vendors/bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script src="vendors/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
        <script src="js/download.js"></script>
        

        
        
        <!-- App level -->
        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/controllers/main.js"></script>
        <script src="js/controllers/newsController.js"></script>
        <script src="js/controllers/newsUpdateController.js"></script>
        <script src="js/controllers/usersController.js"></script>
        <script src="js/controllers/userController.js"></script>
        <script src="js/controllers/userUpdateController.js"></script>
        <script src="js/controllers/userConnectedUpdateController.js"></script>
        <script src="js/controllers/userPatientController.js"></script>
        <script src="js/controllers/userUpdatePatientController.js"></script>
        <script src="js/controllers/chatController.js"></script>
        <script src="js/controllers/calendarController.js"></script>
        <script src="js/controllers/chatSingleController.js"></script>
        <script src="js/controllers/chatNewController.js"></script>
        <script src="js/controllers/rdvDemandsController.js"></script>
        <script src="js/controllers/chatSingleHistoryController.js"></script>
        <script src="js/controllers/chatHistoryController.js"></script>
        <script src="js/services.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/controllers/ui-bootstrap.js"></script>
        <script src="js/controllers/table.js"></script>


        <!-- Template Modules -->
        
        <script src="js/modules/template.js"></script>
        <script src="js/modules/ui.js"></script>
        <script src="js/modules/charts/flot.js"></script>
        <script src="js/modules/charts/other-charts.js"></script>
        <script src="js/modules/form.js"></script>
        <script src="js/modules/media.js"></script>
        <script src="js/modules/components.js"></script>
        <script src="js/modules/calendar.js"></script>
        <script src="js/modules/demo.js"></script>
            <!-- Socket.io -->
        <script type="text/javascript" src="vendors/bower_components/angular-socket-io/mock/socket-io.js"></script>
        <script type="text/javascript" src="vendors/bower_components/angular-socket-io/socket.min.js"></script>
        <script type="text/javascript" src="vendors/bower_components/angular-socket-io/socket.io.js"></script>
        <script src="js/factories/socketFactory.js"></script>
        

    </body>
</html>

