<div class="sidebar-inner c-overflow">

    <ul class="main-menu">
        
        <li data-ui-sref-active="active">
            <a data-ui-sref="dashboard" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Tableaux de bord</a>
<!--            <a id="closeDialog" ng-click="mactrl.sidebarStat($event)" ng-hide="true"><i class="zmdi zmdi-home"></i> Dashboard</a>-->
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="stats" data-ng-click="mactrl.sidebarStat($event)" ng-if="usertype != 3"><i class="zmdi zmdi-chart"></i> Statistiques</a>
        </li>
<!--        <li data-ui-sref-active="active">-->
<!--            <button value="hhelo" data-ng-click="mactrl.btn_test()" />-->
<!--            <a id="closeDialog" ng-click="mactrl.sidebarStat($event)" ng-hide="true"><i class="zmdi zmdi-home"></i> Dashboard</a>-->
<!--        </li>-->
        <li data-ui-sref-active="active">
            <a data-ui-sref="calendar" data-ng-click="mactrl.sidebarStat($event)" ng-if="usertype != 3"><i class="zmdi zmdi-calendar"></i> Calendrier</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="rdv-demands" data-ng-click="mactrl.sidebarStat($event)" ng-if="usertype != 3"><i class="zmdi zmdi-file-plus"></i> Demandes de Rendez-vous</a>
        </li>
        <li data-ui-sref-active="active" ng-if="usertype != 3">
            <a data-ui-sref="messages" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-comments zmdi-hc-fw"></i> Discussions <span class="badge pull-right" ng-show='allIncoming'>{{allUnread}}</span></a>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('news') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i>Actualité</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="news" data-ng-click="mactrl.sidebarStat($event)">Articles</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="new-article" data-ng-click="mactrl.sidebarStat($event)">Ajouter article</a></li>
            </ul>
        </li>
      
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('users') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-account zmdi-hc-fw"></i> Utilisateurs</a>
            <ul>
                <li><a data-ui-sref-active="active" ng-if="usertype == 1" data-ui-sref="users" data-ng-click="mactrl.sidebarStat($event)">Tout les utilisateurs</a></li>
                <li><a data-ui-sref-active="active" ng-if="usertype == 1" data-ui-sref="admins" data-ng-click="mactrl.sidebarStat($event)">Admins</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="doctors" data-ng-click="mactrl.sidebarStat($event)">Médecins</a></li>
                <li><a data-ui-sref-active="active" ng-if="usertype == 1" data-ui-sref="nurses" data-ng-click="mactrl.sidebarStat($event)">Infirmiérs</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="patients" data-ng-click="mactrl.sidebarStat($event)">Patients</a></li>
                <li><a data-ui-sref-active="active" ng-if="usertype == 1" data-ui-sref="new-user" data-ng-click="mactrl.sidebarStat($event)">Ajouter utilisateur</a></li>
                <li><a data-ui-sref-active="active" ng-if="usertype == 2" data-ui-sref="new-patient" data-ng-click="mactrl.sidebarStat($event)">Ajouter patient</a></li>
             
            </ul>
        </li>
        	
    </ul>
</div>